<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="./assets/project.svg" type="image/x-icon">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <title>Projetos</title>
    </head>

    <body>
        <div id="particles-js"></div>
        <main id="main-projects">
                        <nav class="header-parado">
                <ul class="header-parado-ul">
                    <li><a class="link-parado" href="/view/index.html">Perfil</a></li>
                    <li><a class="link-parado" href="#img-ficha">Projeto</a></li>
                    <li><a class="link-parado" href="#contato">Contato</a></li>
                </ul>
            </nav>

            <section class="img-ficha" id="img-ficha">

            </section>

            <div class="line"></div>
            <section class="contato" id="contato">

                <h2 class="titulo-sobre">Deixe seu feedback</h2>
                <form class="card-forme-contato" id="contact-form" method="POST"
                    action="https://formsubmit.co/juliano.sobrinhojunior@gmail.com">
                    <div class="input-text">
                        <input class="dados-text" placeholder="Seu Nome"
                            type="text" name="name" id="nome" required />
                        <input class="dados-text" placeholder="Seu Email"
                            type="email" name="email" id="email" required />
                        <textarea class="dados-text" placeholder="Sua Mensagem"
                            name="message" id="msg" required></textarea>
                    </div>

                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_template" value="box">
                    <input type="hidden" name="_autoresponse"
                        value="Obrigado por entrar em contato! Em breve retornarei.">

                    <input id="btnEnviar" class="btn-enviar" type="submit"
                        value="Enviar" />
                </form>
            </section>
        </main>
        <script type="module" src="../controller/controller.js"></script>
    </body>

</html>